doctype html

html(lang="")
  head
    title HillChart
    // ...
    link(rel="stylesheet", href="index.sass")
    script(src="https://vuejs.org/js/vue.js")

  body
    block content

    script.
      Vue.config.productionTip = false
